:root {
    --color-bg: #06a573;
    --color-bg-secondary: #f2f2f2;

    --color-text: #2c3e50;
    --color-text-secondary: #ebebeba3;
}

/* :root {
    --color-bg: #f2f2f2;
    --color-text: #2c3e50;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #181818;
        --color-bg-secondary: #06A573;
        --color-text: #ebebeba3;
    }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-bg);
}

body,
input,
button {
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.app-bg {
    background-color: var(--color-bg-secondary);
}